/* Coolors Exported Palette - https://coolors.co/f72585-b5179e-7209b7-560bad-480ca8-3a0ca3-3f37c9-4361ee-4895ef-4cc9f0 */

/* CSS HEX */
--flickr-pink: #f72585ff;
--byzantine: #b5179eff;
--purple: #7209b7ff;
--purple-2: #560badff;
--trypan-blue: #480ca8ff;
--trypan-blue-2: #3a0ca3ff;
--persian-blue: #3f37c9ff;
--ultramarine-blue: #4361eeff;
--dodger-blue: #4895efff;
--vivid-sky-blue: #4cc9f0ff;

/* CSS HSL */
--flickr-pink: hsla(333, 93%, 56%, 1);
--byzantine: hsla(309, 77%, 40%, 1);
--purple: hsla(276, 91%, 38%, 1);
--purple-2: hsla(268, 88%, 36%, 1);
--trypan-blue: hsla(263, 87%, 35%, 1);
--trypan-blue-2: hsla(258, 86%, 34%, 1);
--persian-blue: hsla(243, 57%, 50%, 1);
--ultramarine-blue: hsla(229, 83%, 60%, 1);
--dodger-blue: hsla(212, 84%, 61%, 1);
--vivid-sky-blue: hsla(194, 85%, 62%, 1);

/* SCSS HEX */
$flickr-pink: #f72585ff;
$byzantine: #b5179eff;
$purple: #7209b7ff;
$purple-2: #560badff;
$trypan-blue: #480ca8ff;
$trypan-blue-2: #3a0ca3ff;
$persian-blue: #3f37c9ff;
$ultramarine-blue: #4361eeff;
$dodger-blue: #4895efff;
$vivid-sky-blue: #4cc9f0ff;

/* SCSS HSL */
$flickr-pink: hsla(333, 93%, 56%, 1);
$byzantine: hsla(309, 77%, 40%, 1);
$purple: hsla(276, 91%, 38%, 1);
$purple-2: hsla(268, 88%, 36%, 1);
$trypan-blue: hsla(263, 87%, 35%, 1);
$trypan-blue-2: hsla(258, 86%, 34%, 1);
$persian-blue: hsla(243, 57%, 50%, 1);
$ultramarine-blue: hsla(229, 83%, 60%, 1);
$dodger-blue: hsla(212, 84%, 61%, 1);
$vivid-sky-blue: hsla(194, 85%, 62%, 1);

/* SCSS RGB */
$flickr-pink: rgba(247, 37, 133, 1);
$byzantine: rgba(181, 23, 158, 1);
$purple: rgba(114, 9, 183, 1);
$purple-2: rgba(86, 11, 173, 1);
$trypan-blue: rgba(72, 12, 168, 1);
$trypan-blue-2: rgba(58, 12, 163, 1);
$persian-blue: rgba(63, 55, 201, 1);
$ultramarine-blue: rgba(67, 97, 238, 1);
$dodger-blue: rgba(72, 149, 239, 1);
$vivid-sky-blue: rgba(76, 201, 240, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f72585ff, #b5179eff, #7209b7ff, #560badff, #480ca8ff, #3a0ca3ff, #3f37c9ff, #4361eeff, #4895efff, #4cc9f0ff);
$gradient-right: linear-gradient(90deg, #f72585ff, #b5179eff, #7209b7ff, #560badff, #480ca8ff, #3a0ca3ff, #3f37c9ff, #4361eeff, #4895efff, #4cc9f0ff);
$gradient-bottom: linear-gradient(180deg, #f72585ff, #b5179eff, #7209b7ff, #560badff, #480ca8ff, #3a0ca3ff, #3f37c9ff, #4361eeff, #4895efff, #4cc9f0ff);
$gradient-left: linear-gradient(270deg, #f72585ff, #b5179eff, #7209b7ff, #560badff, #480ca8ff, #3a0ca3ff, #3f37c9ff, #4361eeff, #4895efff, #4cc9f0ff);
$gradient-top-right: linear-gradient(45deg, #f72585ff, #b5179eff, #7209b7ff, #560badff, #480ca8ff, #3a0ca3ff, #3f37c9ff, #4361eeff, #4895efff, #4cc9f0ff);
$gradient-bottom-right: linear-gradient(135deg, #f72585ff, #b5179eff, #7209b7ff, #560badff, #480ca8ff, #3a0ca3ff, #3f37c9ff, #4361eeff, #4895efff, #4cc9f0ff);
$gradient-top-left: linear-gradient(225deg, #f72585ff, #b5179eff, #7209b7ff, #560badff, #480ca8ff, #3a0ca3ff, #3f37c9ff, #4361eeff, #4895efff, #4cc9f0ff);
$gradient-bottom-left: linear-gradient(315deg, #f72585ff, #b5179eff, #7209b7ff, #560badff, #480ca8ff, #3a0ca3ff, #3f37c9ff, #4361eeff, #4895efff, #4cc9f0ff);
$gradient-radial: radial-gradient(#f72585ff, #b5179eff, #7209b7ff, #560badff, #480ca8ff, #3a0ca3ff, #3f37c9ff, #4361eeff, #4895efff, #4cc9f0ff);