/*============{ elements }==============*/
header {
	background-color: #000180;
	font-family: 'Crimson Pro',monospace;
	color: #ffffff;
	text-align:center;
	position: absolute;
}

p {
	color: #0F4C5C;
	font-family: 'Crimson Pro',monospace;
}

h1 {
	font-family: 'Crimson Pro',monospace;
}

main {
	background-color: #c4c4c4;
}

body {
	background-color: #0e0b16;

}
/*============{ classes }==============*/
/* Navbar */
.topnav {
  background-color: #0A013B;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
	background-color: #FF1F84;
  color: #ffffff;
  text-align: left;
  padding: 5px 50px 5px 10px;
	margin: 5px;
  text-decoration: none;
  font-size: 17px;
	font-family: 'Crimson Pro',monospace;
	z-index: 10;
 }

.topnav a:hover {
  background-color:  #CC00AD;
  color: black;
}

.topnav a.active {
  background-color: #480CA8;
  color: #ffffff;
}

.topnav .icon {
  display: none;
}
/*infobox*/
.infoBox {
	float: left;
	background-color: #3DD2FF;
	width: 24.99999%;
	height: 100vh;
	}


.infoBox p {
	padding: 10px;
}

.spotlight {
	
	width:75.11111%;
	height:100vh;
}

.spotlightInfo {
	float: left;
	background-color: #3358FF;
	width: 33.333333%;
	height: 100vh;

	}


.spotlightInfo p {
	padding: 10px;
/*============{ IDS }==============*/

/*============{ width changing elements }==============*/



/*medium screens
@media (min-width:601px){
	.infoBox {
		width: 100%;
	}
}
@media screen and (max-width: 600px) {
	.infoBox {
		width: 33.33333%;
	}
}*/
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}


@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
